:root {
    --bg: #573d40;
    --href: #e6b9a6;
    --active: #322732;
    --button: #d38778;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg);
    color: var(--href);
}

header {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    height: auto;
    width: auto;
    padding: 25px;
    overflow-x: auto;
}

a {
    color: var(--href);
}

button {
    padding: 10px;
    background-color: var(--button);
    color: var(--href);
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
        background: var(--active);
        color: var(--button);
        transition: background .3s ease;
    }

    &:active {
        filter: brightness(.8);
    }
}

main {
    height: 100%;
    width: auto;
    background-color: var(--button);
    border-radius: 25px 25px 0 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

pre {
    background-color: var(--bg);
    overflow-x: auto;
    padding: 5px 10px;
    border-radius: 20px;
}

.up {
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
    font-size: 80px;
    color: var(--bg);

    position: absolute;
    bottom: 5%;
    right: 5%;
}
