* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    width: 900px;
    height: 100%;
    margin: auto;
}

input {
    background: none;
    border: none;
    border-bottom: solid 1px gray;
    padding: 10px;
}

.form {
    display: flex;
    width: 900px;
}

.register {
    width: 60%;
    padding: 10px;
}

.person {
    width: 40%;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register input {
    width: 400px;
}

.pass {
    display: flex;
    gap: 20px;
}

.pass input {
    width: 180px;
}

.formFooter {
    width: 100%;
    margin: 30px 0 0 10px;
}

button[type="submit"] {
    position: absolute;
    top: 350px;
    right: 15%;
    width: 100px;
    height: 40px;
    background-color: #18807f;
    color: #fff;
    border: none;
    cursor: pointer;
}

select { 
    background: none;
    border: none;
    border-bottom: solid 1px gray;
    padding: 10px;
    width: 50%;
}

input[type="date"] {
    width: 50%;
}

.pers {
    display: flex;
    gap: 10px;
}



@media screen and (min-width:600px) and (max-width:900px) {
    body {
        width: 600px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    button[type="submit"] {
        position: absolute;
        top: 500px;
        right: 15%;
        width: 100px;
        height: 40px;
        background-color: #18807f;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .formFooter {
        margin-bottom: 10px;
    }
}

@media screen and (min-width:0px) and (max-width:600px) {
    body {
        width: 600px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    button[type="submit"] {
        position: absolute;
        top: 500px;
        right: 15%;
        width: 100px;
        height: 40px;
        background-color: #18807f;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .formFooter {
        margin-bottom: 10px;
    }
}