* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    margin: 18px 0 0 42px;
}

.card {
    background-color: #9fcdcd;
    width: 426px;
    height: 294px;
    border-radius: 10px;
    padding: 23px;
}

img {
    position: absolute;
    top: 63px;
    left: 360px;
}

.card::before {
    content: "CREDIT CARD DETAILS";
    display: flex;
    align-items: center;
    background-color: #db6423;
    font-size: 15px;
    color: #fff;
    width: 333px;
    height: 32px;
    padding-left: 38px;
    margin-left: -38px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 9px;
    color: #466c6f;
    margin-top: 21px;
}

input {
    background-color: #a9d2d2;
    color: #81a7b1;
    border: none;
    border-bottom: 1px solid #729c9e;
    width: 229px;
    padding: 10px;
}

.flex-wrapper {
    display: flex;
}

.flex-wrapper input {
    text-align: center;
    width: 42px;
}
.date {
    display: flex;
    gap: 15px;
}

.block0 {
    display: flex;
    gap: 15px;
}

.date input{
    width: 65px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}